In [1]:
import pandas as pd
df = pd.read_csv("Simple_Linear_Reg.csv")
df

        Id  Price  Age_06_15
0        1  13500         57
1        2  13750         57
2        3  13950         58
3        4  14950         60
4        5  13750         64
5        6  12950         66
6        7  16900         61
7        8  18600         64
8        9  21500         61
9       10  12950         57
10      11  20950         59
11      12  19950         56
12      13  19600         59
13      14  21500         65
14      15  22500         66
15      16  22000         62
16      17  22750         64
17      18  17950         58
18      19  16750         58
19      20  16950         64
20      21  15950         64
21      22  16950         63
22      23  15950         62
23      24  16950         62
24      25  16250         63
25      26  15950         59
26      27  17495         61
27      28  15750         63
28      29  16950         62
29      30  17950         64
...    ...    ...        ...
1406  1413   8950        104
1407  1414   8250        103
1408  1415   9250        114
1409  1416   7900        109
1410  1417   8500        112
1411  1418   7950        110
1412  1419   9950        103
1413  1420   8750        108
1414  1421   7500        114
1415  1422   6950        106
1416  1423   8950        113
1417  1424   8750        113
1418  1425   7750        107
1419  1426   8450        109
1420  1427   8150        110
1421  1428   8500        112
1422  1429   7600        112
1423  1430   7950        114
1424  1431   7750        107
1425  1432   7950        114
1426  1433   9950        112
1427  1434   8950        105
1428  1435   8450        106
1429  1436   8950        112
1430  1437   8450        114
1431  1438   7500        103
1432  1439  10845        106
1433  1440   8500        105
1434  1441   7250        104
1435  1442   6950        110

[1436 rows x 3 columns]

In [6]:
#help(df.iloc)
x = df.iloc[:,:-1]
x

        Id  Price
0        1  13500
1        2  13750
2        3  13950
3        4  14950
4        5  13750
5        6  12950
6        7  16900
7        8  18600
8        9  21500
9       10  12950
10      11  20950
11      12  19950
12      13  19600
13      14  21500
14      15  22500
15      16  22000
16      17  22750
17      18  17950
18      19  16750
19      20  16950
20      21  15950
21      22  16950
22      23  15950
23      24  16950
24      25  16250
25      26  15950
26      27  17495
27      28  15750
28      29  16950
29      30  17950
...    ...    ...
1406  1413   8950
1407  1414   8250
1408  1415   9250
1409  1416   7900
1410  1417   8500
1411  1418   7950
1412  1419   9950
1413  1420   8750
1414  1421   7500
1415  1422   6950
1416  1423   8950
1417  1424   8750
1418  1425   7750
1419  1426   8450
1420  1427   8150
1421  1428   8500
1422  1429   7600
1423  1430   7950
1424  1431   7750
1425  1432   7950
1426  1433   9950
1427  1434   8950
1428  1435   8450
1429  1436   8950
1430  1437   8450
1431  1438   7500
1432  1439  10845
1433  1440   8500
1434  1441   7250
1435  1442   6950

[1436 rows x 2 columns]

In [7]:
y = df.iloc[:,-1:]
y

      Age_06_15
0            57
1            57
2            58
3            60
4            64
5            66
6            61
7            64
8            61
9            57
10           59
11           56
12           59
13           65
14           66
15           62
16           64
17           58
18           58
19           64
20           64
21           63
22           62
23           62
24           63
25           59
26           61
27           63
28           62
29           64
...         ...
1406        104
1407        103
1408        114
1409        109
1410        112
1411        110
1412        103
1413        108
1414        114
1415        106
1416        113
1417        113
1418        107
1419        109
1420        110
1421        112
1422        112
1423        114
1424        107
1425        114
1426        112
1427        105
1428        106
1429        112
1430        114
1431        103
1432        106
1433        105
1434        104
1435        110

[1436 rows x 1 columns]

In [9]:
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
lin_model =  linear_model.LinearRegression()

In [10]:
a = lin_model.fit(x,y)
a

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [11]:
a.score(x,y) # R square value

0.9158331151797954

In [12]:
a.intercept_ # C value in mx + c

array([96.71772488])

In [14]:
a.coef_ # m - slope value for id and price

array([[ 0.02542165, -0.00234034]])

In [15]:
y_pred = a.predict(x)
y_pred

array([[ 65.14856525],
       [ 64.58890207],
       [ 64.14625585],
       ...,
       [113.4320208 ],
       [116.38286664],
       [117.1103901 ]])